#button2 {
  color:firebrick;
  font-family: inherit;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2.5em;
  overflow: hidden;
  font-size: 17px;
  z-index: 1;
  color: var(--color);
  border: 2px solid var(--color);
  border-radius: 15px;
  position: relative;
}

#button2::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 150px;
  height: 200px;
  z-index: -1;
  border-radius: 50%;
}

#button2:hover {
  color: white;
}

#button2:before {
  top: 100%;
  left: 100%;
  transition: .3s all;
}

#button2:hover::before {
  top: -30px;
  left: -30px;
}







#button1 {
    color:firebrick;
    font-family: inherit;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2.5em;
    overflow: hidden;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 15px;
    position: relative;
  }
  
  #button1::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  #button1:hover {
    color: white;
  }
  
  #button1:before {
    top: 100%;
    left: 100%;
    transition: .3s all;
  }
  
  #button1:hover::before {
    top: -30px;
    left: -30px;
  }
  
  
  
  
  .button3 {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
  }
  
  .button3:hover::before {
    transform: scaleX(1);
  }
  
  .button3-content {
    position: relative;
    z-index: 1;
  }
  
  .button3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgba(150, 93, 233, 1) 10.8%,
      rgba(99, 88, 238, 1) 94.3%
    );
    opacity: 30%;
    transition: all 0.475s;
  }